// -----------------------------
// Header
// -----------------------------

.brand {
    min-height: 45px;
    margin: 0 auto;
    @media @tablet {
        padding-right: 50px;
    }
}


// -----------------------------
// Homepage Flexbox
// -----------------------------

.homepage-container {
    .flexbox(flex);
    .flex-direction(column);
    .flex-wrap(nowrap);
    .justify-content(space-between);
    .align-items(center);
    .align-content(space-between);

    background-color: @color__navigation--background;

    @media only screen and (min-width: 1024px) {
        min-height: 100vh;
    }

    // Flex-items in homepage-container
    .template-header-container,
    .widget[data-widget-type="responsiveslideshow"],
    .widget[data-widget-type="extendednavigation"] {
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }

    // Nested Flexbox to center content in each flex-item on Desktop
    .template-header-container,
    .widget[data-widget-type="responsiveslideshow"],
    .widget[data-widget-type="extendednavigation"] {
        @media only screen and (min-width: 768px) {
            .flexbox(flex);
            .flex-direction(column);
            .flex-wrap(nowrap);
            .justify-content(space-around);
            .align-items(center);
            .align-content(center);
        }
    }
}

.template-homepage {
    .brand,
    .widget[data-widget-type="responsiveslideshow"],
    .widget[data-widget-type="extendednavigation"] {
        width: 100%;
    }
}

.template-default {
    .brand,
    .widget[data-widget-type="responsiveslideshow"],
    .widget[data-widget-type="extendednavigation"] {
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
    }
}

@media @tablet {
    .brand {
        .flex-order(0);
    }
    .widget[data-widget-type="extendednavigation"] {
        .flex-order(1);
    }
    .widget[data-widget-type="responsiveslideshow"] {
        .flex-order(2);
    }
}

.template-homepage {
    .brand {
        max-width: 1200px;
        text-align: center;
        .logo {
            margin: 10px 0 0;
        }
        .logo-image {
            margin: 5px 0;
            @media @tablet {
                max-height: 45px;
                width: auto !important;
            }
        }
        @media @tablet {
            .flex-display;
            .flex-wrap(wrap);
            .align-items(center);
            .align-content(stretch);

            text-align: left;

            .logo {
                margin: 0 5px 0 0;
            }
        }
    }
    a.company-link:hover {
        text-decoration: none;
    }
}



// --------------------------------
// Sticky nav
// --------------------------------

.template-default .template-header {
    background-color: @color__navigation--background;
}

.template-default .template-header,
.sticky {

    @media only screen and (min-width: 1024px) {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99999;
    }
}

@media @tablet {
    .template-header {
        background-color: @color__navigation--background;
    }
}

.sticky .navigation-list {
    border-bottom: 1px solid darken(@color__navigation--background, 7%);
    background-color: @color__navigation--background;
}

.template-homepage .extendednavigation {
    .navigation-body.sticky {
        width: 100%;
        background-color: @color__navigation--background;
        .navigation-list {
            width: 90%;
            margin: 0 5%;
            @media only screen and (min-width: 1300px) {
                width: 1200px;
                margin: 0 auto;
            }
        }
    }
}




// --------------------------------
// Default
// --------------------------------

// Flexbox in Header

.template-default {
    .brand,
    .widget[data-widget-type="responsiveslideshow"] {
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
    }
}

.template-default {
    .template-header-container {
        .flex-display;
        .flex-wrap(wrap);
        .justify-content(space-between);
        .align-items(center);
        .align-content(space-between);
        @media @tablet {
            display: block;
        }

        border-bottom: 1px solid darken(@color__navigation--background, 7%);
    }
    .brand {
        .flex-display;
        .flex-wrap(wrap);
        .align-items(center);
        .align-content(stretch);
    }
    .logo {
        margin: 10px 5px 10px 0;
        .logo-image {
            max-height: 45px;
            width: auto !important;
        }
    }
}
