{% extends "layout.twig" %}
{% block class %}template-default template-blogpost{% endblock %}
{% block content %}

    <!-- Header -->
    <div class="template-header">
        <div class="template-header-container">
            <div class="brand">
                {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
                {{widget('companyname', 'companyname', {
                    "business": "profile",
                    "showTplWidget":"0"
                })|raw}}
            </div>

            {{widget('extendednavigation', 'navigation', {"align":"center"})|raw}}

        </div>
    </div>

    <!-- Main Widet Zone -->
    <section class="container">
        {{zone('main')|raw}}
    </section>

{% endblock %}
