{% extends "layout.twig" %}
{% block class %}template-default{% endblock %}
{% block content %}

    <!-- Header -->
    <div class="template-header">
        <div class="brand">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
            {{widget('companyname', 'companyname', {
                "business": "profile",
                "showTplWidget":"0"
            })|raw}}
        </div>

        {{widget('extendednavigation', 'navigation', {"align":"center"})|raw}}
    </div>

    <!-- Main Widet Zone -->
    <section class="container">
        {{zone('main')|raw}}
    </section>

{% endblock %}
