<!-- Template Widgets -->

<div class="template-header">
    <div class="brand">
        {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
        <!-- {{widget('companyname', 'companyname', {"business": "profile"})|raw}} -->
    </div>
    {{widget('extendednavigation', 'navigation', {"align":"center"})|raw}}
</div>

<!-- End Template Widgets -->
